@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://use.typekit.net/hxw4avg.css");

body {
    background-color: #f4f5eb;
    box-sizing: border-box;
    display: grid;
    margin: 0;
    padding: 0;
}

.sidebar {
    padding-top: 50px;
    font-family: montserrat;
    font-weight: 600;
    right: 0%;
    padding-right: 20vw;
    margin-left: auto;
    background-color: rgb(255, 255, 255);
    position: fixed;
    height: 100vh;
    z-index: 2;
    margin-top: -60px;
    display: none;
    width: 100vw;
    text-align: center;
    padding-right: 10vw;

    li,
    a {
        list-style-type: none;
        font-size: 20px;
        padding-left: 40px;
        padding-top: 100px;
    }
}



.close {
    font-size: 25px;
    font-weight: 450;
    right: 0%;
    margin-left: auto;
    margin: 30px;
    font-family: montserrat;
    position: fixed;
    text-align: center;
    color: salmon;
}

/*TOP NAV*/
header {
    display: flex;
    box-shadow: 0px 10px 10px -6px rgb(0, 0, 0, 0.3);
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    padding: 30 px 10%;
    background: white;
    margin-bottom: 0;
    z-index: 1;
}

.hamburger-checkbox {
    display: none;
}

.hamburger {
    display: none;
    font-size: 30px;
    cursor: pointer;
}

@media screen and (max-width:680px) {
    .hamburger {
        display: block;
        padding-right: 20px;
    }

    .nav_links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 80px;
        left: 0;
        width: 100vw;
    }

    .nav_links {
        list-style: none;
        display: flex;
        justify-content: center;
        list-style: none;
        padding: 0;
        margin: 0,
    }

    .hamburger {
        display: block;
    }

    .nav_links li {
        display: inline-block;
        padding: 0px 10px;
    }

    .nav_links li a {
        transition: all 0.3s ease 0s;
    }

    .nav_links li a:hover {
        color: #538c64
    }

    li,
    a {
        font-family: 'poppins', sans-serif;
        font-weight: 500;
        font-size: 16px;
        color: rgb(56, 52, 52);
        text-decoration: none;
    }

    /*COUNTRIES*/
    ul {
        padding-inline-start: 0;
    }

    .bottomnav {
        width: 100vw;
    }

    /*     .flex {
        width: 100vw;
    } */

    .bottomnav {
        width: 100vw;
    }

    .flex li a {
        font-size: 10px;
        color: white;
        display: inline;
        font-weight: 400;
    }

    .flex li {
        display: inline-block;
    }

    .flex li a:hover {
        color: gray;
    }

    /*HERO*/
    .hero {
        height: 600px;
        width: 100vw;
        margin-top: -40px;
    }

    .container {
        text-align: center;
        padding-top: 60px;
    }

    .container h2 {
        font-family: montserrat;
        font-weight: 200;
        color: white;
    }

    .container h1 {
        font-family: montserrat;
        color: white;
        font-weight: 500;
        padding-top: 40px;
    }


    /*TEXT*/

    .box {
        font-size: 40px;
        font-family: poppins;
        font-weight: 500;
        color: rgb(150, 153, 150);
        /* BOX MODEL */
        margin-top: 100px;
        text-align: center;
    }


    .stalk {
        font-family: poppins;
        font-size: 20px;
        /* BOX MODEL */
        margin-left: 200px;
        margin-right: 200px;
        margin-top: 10px;
    }
}

@media screen and(min-width:681px) {
    .hamburger {
        display: none;
    }
}


.logo {
    height: 70px;
    cursor: pointer;
    margin-right: auto;
}

.nav_links {
    list-style: none;
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0,
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #538c64
}

li,
a {
    font-family: 'poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: rgb(56, 52, 52);
    text-decoration: none;
}

/*COUNTRIES*/
.flex {
    list-style-type: none;
    background-color: #26292d;
    padding-top: 80px;
    /*  width: 100vw; */
    height: 130px;
    text-align: center;
    justify-content: space-evenly;
    display: flex;
    overflow: hidden;
    /*BOXMODEL*/
    margin-top: 60px;

}

.bottomnav {
    width: 100vw;
}

.flex li a {
    color: white;
    display: inline;
    font-weight: 300;
    font-size: 20px;
    padding-left: 1px;
    padding-right: 1px;
    transition: color 0.3s;
}

.flex li {
    display: inline-block;
}

.flex li a:hover {
    color: gray;
}

/*HERO*/
.hero {
    background-color: #1a2023;

    height: 600px;
    background-size: cover;
    width: 100vw;
    margin-top: -40px;
}

.container {
    text-align: center;
    padding-top: 60px;
}

.container h2 {
    font-family: montserrat;
    font-weight: 200;
    color: white;
}

.container h1 {
    font-family: Montserrat;
    color: white;
    font-weight: 500;
    padding-top: 40px;
}


/*TEXT*/




em {
    color: gray;
}






.box {
    font-size: 40px;
    background-color: #f4f5eb;
    font-family: "montserrat";
    font-weight: 600;
    font-style: normal;
    color: #888b88;
    /* BOX MODEL */
    padding-top: 150px;
    padding-bottom: -8px;
    text-align: center;
    grid-area: box;
    grid-row: 1;
    grid-column: 1;
}

.one {
    padding: 30px;
    display: grid;
    margin-inline: 0;
    grid-template-columns: (.5fr 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
        "box image"
        "text image"
        "text image";
}

@media(max-width:900px) {
    .one {
        display: block;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, auto);
        grid-template-areas:
            "box"
            "stalk"
            "first";

        img {
            width: 60vw;
            margin-left: auto;
            margin-right: auto;
        }
    }


}

.stalk {
    font-family: "montserrat";
    font-size: 20px;
    /* BOX MODEL */
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 2%;
    margin-top: 50px;
    margin-bottom: 100px;
    line-height: 30px;
    grid-area: stalk;
    grid-column: 1/2;
    grid-row: 2/4;
}

.first {
    grid-area: image;
    grid-column: 2/3;
    grid-row: 2/4;
    width: 100%;
    display: block;
}

.appearance {
    margin-top: -30px;
    background-color: #a29c62;

    h2 {
        font-family: montserrat;
        font-size: 40px;
        padding-top: 200px;
        text-align: center;
        color: #f4f5eb;
    }

    .body {
        width: 85vw;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-top: 150px;

    }

    p {
        font-family: "montserrat";
        font-size: 20px;
        color: #f4f5eb;
        margin-right: 15%;
        margin-left: 15%;
        line-height: 30px;
        padding-top: 150px;
        padding-bottom: 150px;
    }

    .profile {
        width: 35vw;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

.range {
    h2 {
        font-family: montserrat;
        font-size: 40px;
        padding-top: 200px;
        text-align: center;
    }

    p {
        font-family: "montserrat";
        font-size: 20px;
        margin-right: 15%;
        margin-left: 15%;
        line-height: 30px;
        padding-top: 150px;
        padding-bottom: 150px;
    }

    .tree {
        width: 40vw;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 200px;
        padding-top: 150px;
    }

    .map {
        width: 100vw;
    }
}

.icons {
    overflow: hidden;
    padding-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 500px;
    grid-template-areas: 'hsnow hleaf hhill'
}


.hsnow {
    width: 20vw;
    grid-area: hsnow;
    display: block;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    grid-column: 1/2;
}

.hleaf {
    width: 20vw;
    grid-area: hleaf;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    grid-column: 2/3;
}

.hhill {
    width: 20vw;
    grid-area: hhill;
    display: block;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    grid-column: 3/4;
}

@media (max-width:700px) {

    .icons {
        grid-template-columns: 1fr;
        grid-template-rows: 300px 300px 300px;
        grid-template-areas:
            'hsnow'
            'hleaf'
            'hhill';
    }

    .hsnow {
        grid-row: 1/2;
        display: block;
        margin-left: auto;
        margin-top: auto;
        margin-bottom: auto;
        margin-right: auto;
        grid-column: 1;
        width: 40vw;

    }

    .hleaf {
        grid-row: 2/3;
        grid-column: 1;
        width: 40vw;

    }

    .hhill {
        grid-row: 3/4;
        grid-column: 1;
        width: 40vw;

    }
}

.b {
    padding: 80px;
    display: grid;
    margin-inline: 0;
    grid-template-columns: (1fr 1fr);
    grid-template-rows: (.5fr 1fr);
    grid-template-areas:
        "image title"
        "image text";


    img {
        grid-area: image;
        width: 100%;
        display: block;
        grid-column: 1;
        grid-row: 2;
    }

    h2 {
        grid-area: title;
        font-family: montserrat;
        font-size: 40px;
        padding-top: 200px;
        text-align: center;
    }

    p {
        grid-area: text;
        font-family: "montserrat";
        font-size: 20px;
        margin-right: 15%;
        margin-left: 15%;
        line-height: 30px;
        padding-top: 150px;
        padding-bottom: 150px;
    }
}

@media(max-width:970px) {
    .b {
        display: block;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, auto);
        grid-template-areas:
            "image"
            "title"
            "text";

        img {
            width: 60vw;
            margin-left: auto;
            margin-right: auto;
            padding-top: 80px;
        }
    }
}

.dietgrid {
    display: grid;
    margin-bottom: 20px;
    width: 100vw;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: max-content;
    grid-template-areas:
        'ant ant bird'
        'berry wasp wasp';

    img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
    }
}

.ant {
    grid-area: ant;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    object-fit: contain;
}

.bird {
    grid-area: bird;
}

.berry {
    grid-area: berry;
}



.wasp {
    grid-area: wasp;

}

.variant {
    background-color: coral;
    margin-top: -20px;

    h2 {
        grid-area: title;
        font-family: montserrat;
        font-size: 40px;
        padding-top: 200px;
        text-align: center;
        color: #f4f5eb;
    }

    p {
        font-family: "montserrat";
        font-size: 20px;
        margin-right: 15%;
        margin-left: 15%;
        line-height: 30px;
        padding-top: 150px;
        padding-bottom: 150px;
        color: #f4f5eb;
    }

    .v1 {
        padding-left: 60px;
        width: 30vw;

    }

    .v2 {
        padding-right: 40px;
        width: 45vw;
        padding-left: 150px;


    }
}

@media(max-width:1200px) {
    .v1 {
        display: block;
        margin-right: auto;
        margin-left: auto;
    }

    .v2 {

        display: block;
        margin-right: auto;
        margin-left: auto;
        margin-top: 15%;
        margin-bottom: 10%;
    }
}