@media screen and (max-width:799px) {
    li a {
        font-size: 13px;
    }

    .logo {
        height: 50px;
    }

    .flex li a {
        font-size: 19px;
    }
}

@media screen and (max-width:400) {
    .flex li a {
        font-size: 10px;
        padding-right: 10px;
    }
}