@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://use.typekit.net/hxw4avg.css");



body {
    background-color: #f4f5eb;
    box-sizing: border-box;
    display: grid;
    margin: 0;
    padding: 0;
}

/*TOP NAV*/
header {
    display: flex;
    box-shadow: 0px 10px 10px -6px rgb(0, 0, 0, 0.3);
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    padding: 30 px 10%;
    background: white;
    margin-bottom: 0;
    z-index: 1000;
}

.hamburger-checkbox {
    display: none;
}

.hamburger {
    display: none;
    font-size: 30px;
    cursor: pointer;
}

@media screen and (max-width:680px) {
    .hamburger {
        display: block;
        padding-right: 20px;
    }

    .nav_links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 80px;
        left: 0;
        width: 100vw;
    }

    .nav_links {
        list-style: none;
        display: flex;
        justify-content: center;
        list-style: none;
        padding: 0;
        margin: 0,
    }

    .hamburger {
        display: block;
    }

    .nav_links li {
        display: inline-block;
        padding: 0px 10px;
    }

    .nav_links li a {
        transition: all 0.3s ease 0s;
    }

    .nav_links li a:hover {
        color: #538c64
    }

    li,
    a {
        font-family: 'poppins', sans-serif;
        font-weight: 500;
        font-size: 16px;
        color: rgb(56, 52, 52);
        text-decoration: none;
    }

    /*COUNTRIES*/
    ul {
        padding-inline-start: 0;
    }

    .bottomnav {
        width: 100vw;
    }

    /*     .flex {
        width: 100vw;
    } */

    .bottomnav {
        width: 100vw;
    }

    .flex li a {
        font-size: 10px;
        color: white;
        display: inline;
        font-weight: 400;
    }

    .flex li {
        display: inline-block;
    }

    .flex li a:hover {
        color: gray;
    }

    /*HERO*/
    .hero {
        height: 600px;
        width: 100vw;
        margin-top: -40px;
    }

    .container {
        text-align: center;
        padding-top: 60px;
    }

    .container h2 {
        font-family: montserrat;
        font-weight: 200;
        color: white;
    }

    .container h1 {
        font-family: montserrat;
        color: white;
        font-weight: 500;
        padding-top: 40px;
    }


    /*TEXT*/


    .wrapper {
        box-sizing: border-box;
        max-width: 940px;
        margin: 0 auto;
    }

    .wrapper>div {
        border: 2px solid rgb(233 171 88);
        border-radius: 5px;
        background-color: rgb(233 171 88 / 50%);
        padding: 1em;
        color: #d9480f;
    }

    .wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        grid-auto-rows: minmax(100px, auto);
    }

    .title {
        grid-column: 1 / 3;
        grid-row: 1/5;
    }

    /*  .box {
        font-size: 40px;
        font-family: poppins;
        font-weight: 500;
        color: rgb(150, 153, 150);
        /* BOX MODEL */
    margin-top: 100px;
    text-align: center;
}


.stalk {
    font-family: poppins;
    font-size: 20px;
    /* BOX MODEL */
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 10px;
}


@media screen and(min-width:681px) {
    .hamburger {
        display: none;
    }
}


.logo {
    height: 70px;
    cursor: pointer;
    margin-right: auto;
}

.nav_links {
    list-style: none;
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0,
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #538c64
}

li,
a {
    font-family: 'poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: rgb(56, 52, 52);
    text-decoration: none;
}

/*COUNTRIES*/
.flex {
    list-style-type: none;
    background-color: #26292d;
    padding-top: 80px;
    /*  width: 100vw; */
    height: 130px;
    text-align: center;
    justify-content: space-evenly;
    display: flex;
    overflow: hidden;
    /*BOXMODEL*/
    margin-top: 60px;

}

.bottomnav {
    width: 100vw;
}

.flex li a {
    color: white;
    display: inline;
    font-weight: 300;
    font-size: 20px;
    padding-left: 1px;
    padding-right: 1px;
    transition: color 0.3s;
}

.flex li {
    display: inline-block;
}

.flex li a:hover {
    color: gray;
}

/*HERO*/
.hero {
    background-color: #1a2023;

    height: 600px;
    background-size: cover;
    width: 100vw;
    margin-top: -40px;
}

.container {
    text-align: center;
    padding-top: 60px;
}

.container h2 {
    font-family: montserrat;
    font-weight: 200;
    color: white;
}

.container h1 {
    font-family: Montserrat;
    color: white;
    font-weight: 500;
    padding-top: 40px;
}


/*TEXT*/
.first {
    background-color: #f4f5eb;
}

.box {
    font-size: 40px;
    background-color: #f4f5eb;
    font-family: "montserrat";
    font-weight: 600;
    font-style: normal;
    color: #888b88;
    /* BOX MODEL */
    padding-top: 150px;
    margin-bottom: 100px;
    text-align: center;


}

em {
    color: gray;
}


.stalk {
    font-family: "montserrat";
    font-size: 20px;
    /* BOX MODEL */
    padding-left: 50%;
    padding-top: 2%;
    margin-right: 15%;
    margin-top: 50px;
    margin-bottom: 100px;
    line-height: 30px;
}

.Tree {
    background-color: #f4f5eb;
    padding-top: 40px;

    .tree {
        width: 40%;
        float: left;
        margin-left: 9%;
        margin-right: 30px;
        margin-bottom: 20px;
        margin-top: 10px;
    }


    p {
        font-family: "montserrat";
        font-size: 20px;
        margin-right: 250px;
        margin-left: 250px;
        padding-top: 20px;
    }
}


.appearance {
    margin-top: 350px;
    background-color: #8c8654;
}

.appearance div {
    font-family: "montserrat";
    font-weight: 600;
    font-size: 40px;
    margin-left: 250px;
    padding-top: 40px;
    color: #f4f5eb;
}

.variant {
    background-color: #8c8553;
    margin-top: -60px;
    padding-top: 100px;

    img {
        width: 100vw;
    }
}

.variantimages {
    display: flex;
}

.variant p {
    font-family: "montserrat";
    font-size: 20px;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 100px;
    color: #f4f5eb;
    padding-bottom: 15%;
    padding-top: 5%;
    line-height: 35px;
}

.variantimages img {
    padding-top: 150px;
    max-width: 65%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.varianttitle {
    font-family: "montserrat";
    font-weight: 500;
    font-size: 30px;
    text-align: center;
    color: #f4f5eb;
    padding-top: 12%;
    padding-bottom: 5%;
}


.appearance p {
    background-color: #8c8553;
    color: #f4f5eb;
    margin-top: -10px;
    font-family: "montserrat";
    font-size: 20px;
    /* BOX MODEL */
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 50px;
    margin-bottom: 60px;
    line-height: 30px;
}

.appearance img {
    width: 90%;
    padding-top: -50px;
    padding-bottom: 5%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    background-color: #8c8553;
    overflow: hidden;
    aspect-ratio: 25/9;
    object-fit: cover;
}

.appearance h2 {
    font-size: 40px;
    font-family: "montserrat";
    font-weight: 600;
    font-style: normal;
    color: #f4f5eb;
    /* BOX MODEL */
    padding-top: 15%;
    padding-bottom: 10%;
    text-align: center;
}

.snowshoe {
    margin-top: -10px;

    p {
        font-family: "montserrat";
        font-size: 20px;
        margin-left: 25%;
        margin-right: 25%;
        padding-bottom: 100px;
        line-height: 30px;
    }
}

.snowtext {
    font-size: 40px;
    font-family: "montserrat";
    font-weight: 600;
    font-style: normal;
    text-align: center;
    color: #26292d;
    background-color: #eaeade;
    padding-top: 15%;
    padding-bottom: 100px;
    margin-top: -5%;
}


.gif img {
    width: 100vw;
}

.range {
    overflow: hidden;
    background-color: #212223;

    .text {
        margin-top: 2%;
    }

    h1 {
        font-family: "montserrat";
        font-size: 50px;
        font-weight: 700;
        padding-top: 25%;
        color: #d4dcd9;
        text-align: center;
    }

    h2 {
        font-family: "montserrat";
        text-align: center;
        font-weight: 600;
        font-size: 30px;
        color: #d4dcd9;
    }
}


.habitat {
    font-family: "montserrat";
    font-size: 20px;
    margin-left: 10%;
    margin-right: 55%;
    padding-top: 4%;
    color: #d4dcd9;
}

.mountain {
    width: 50vw;
    margin-top: -5%;
    float: right;
}

@media screen and (max-width:1250px) {



    .stalk {
        margin-left: 5%;
        font-size: 20px;
        float: none;
        display: block;
        padding-left: 15%;
        padding-right: 15%;
    }

    .appearance {
        margin-top: 50px;
    }

    .Tree {

        .div {
            display: grid;
            place-items: center;
        }

        .tree {
            float: none;
            width: 45%;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        p {
            float: none;
            display: inline-block;
            vertical-align: bottom;
            font-size: 18px;
            margin-left: 250px;
            margin-right: 250px;
        }
    }
}


.color {
    overflow: hidden;
    background-color: rgb(246, 212, 153);
    padding-top: 20%;
}

.diet {

    h1 {
        font-family: "montserrat";
        margin-left: 10%;
        font-size: 50px;
        float: left;
        line-height: 80px;
        color: rgb(72, 70, 70);
    }

    img {
        margin-top: 4%;
        float: right;
        width: 50%;
        padding-left: 5%;
    }

    hr {
        margin-top: 15%;
        margin-left: 15%;
        margin-right: 50%;
        border: 2px solid #d1d1c7;


    }

    p {
        font-family: "montserrat";
        font-size: 20px;
        line-height: 30px;
        margin-left: 15%;
        margin-right: 50%;
        margin-top: 5%;
        margin-bottom: 10%;

    }
}

.behavior {
    margin-top: 20%;

    h1 {
        font-family: "montserrat";
        text-align: center;
        font-size: 50px;
        font-weight: 600;
    }

    img {
        width: 100vw;
        margin-top: 5%;
        margin-bottom: 10%;
    }

    p {
        font-family: "montserrat";
        font-size: 20px;
        margin-left: 15%;
        margin-top: 10%;
        margin-right: 15%;
        line-height: 30px;
    }
}

.shore {
    margin-top: 20%;
    overflow: hidden;

    p {
        font-family: "montserrat";
        padding-top: 5%;
        padding-left: 30%;
        margin-right: 30%;
        line-height: 30px;
    }

    img {
        float: left;
        width: 10vw;
        margin-left: 10%;
    }

}

.douglas {
    margin-top: 20%;
    overflow: hidden;

    p {
        font-family: "montserrat";
        padding-top: 5%;
        margin-left: 15%;
        padding-right: 40%;
        line-height: 30px;
    }

    img {
        float: right;
        width: 18vw;
        margin-right: 10%;
    }
}

.final {
    background-color: #8c8553;

    p {
        font-family: "montserrat";
        font-size: 20px;
        margin-left: 15%;
        margin-right: 15%;
        margin-top: 15%;
        padding-top: 15%;
        color: #f4f5eb;
        line-height: 30px;

    }

    img {
        width: 70vw;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-top: 10%;
        padding-bottom: 10%;

    }
}

@media screen and (max-width:800px) {
    .mountain {
        float: none;
        width: 100vw;
    }

    .diet {
        p {
            float: none;
            font-size: 18px;
            margin-left: 50px;
            margin-right: 50px;
        }
    }

    .habitat {
        font-size: 18px;
        font-weight: 300;
        margin-left: 80px;
        margin-right: 80px;
        padding-bottom: 130px;
        padding-top: 80px;
    }

    .snowshoe p {
        font-size: 15px;

        padding-top: 7%;
    }

    .variantimages img {
        padding-top: 150px;
        max-width: 65%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-right: 3%;
        border-left: 3%;
    }



    .stalk {
        margin-left: 5%;
        font-size: 18px;
        float: none;
        display: block;
        padding-left: 15%;
        padding-right: 8%;
    }

    .tree {
        float: none;
        display: flex;
        justify-content: center;
        width: 200px;
        display: inline-block;
        vertical-align: top;
    }

    .Tree {
        p {
            float: none;
            font-size: 18px;
            margin-left: 70px;
            margin-top: 70px;
            margin-right: 70px;
        }

        .treet {
            margin-top: 20px;
        }
    }

    .va {
        font-size: 20px;
        margin-left: 50px;
    }

    .gif {}
}

@media screen and(max-width:600px) {

    .snow {
        font-size: 12px;
    }

    .shoe {
        font-size: 10px;
        margin-left: 40px;
        margin-right: 40px;
    }

}



/* 
    @media screen and (max-width:600px) {
        .hamburger {
            display: block;
        }

        .nav_links {
            display: none;
            flex-direction: column;
            position: absolute;
            top: 80px;
            left: 0;
            width: 100%;
        }

        header {
            font-size: 10px;
            align-items: flex-startt;
        }

        .hamburger-checkbox:checked+.hamburger+.nav_links {
            display: flex;
        }
    } */

/*    @media screen and (max-width:400px) {
        .flex li {
            padding-right: 5px;
        }

        .flex li a {
            font-size: 14px;
        }
    } */

/*   @media screen and (max-width:526px) {

        .nav_bar li a,
        .flex li a {
            display: flex;
            font-size: 10px;
            flex-direction: row;
            margin-right: 20px;
        }
    }
 */