@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://use.typekit.net/hxw4avg.css");

body {
    background-color: #f4f5eb;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*TOP NAV*/
header {
    display: flex;
    box-shadow: 0px 10px 10px -6px rgb(0, 0, 0, 0.3);
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    padding: 30 px 10%;
    background: white;
    margin-bottom: 0;
    z-index: 1000;
}

.hamburger-checkbox {
    display: none;
}

.hamburger {
    display: none;
    font-size: 30px;
    cursor: pointer;
}

@media screen and (max-width:680px) {
    .hamburger {
        display: block;
        padding-right: 20px;
    }

    .nav_links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 80px;
        left: 0;
        width: 100vw;
    }

    .nav_links {
        list-style: none;
        display: flex;
        justify-content: center;
        list-style: none;
        padding: 0;
        margin: 0,
    }

    .hamburger {
        display: block;
    }

    .nav_links li {
        display: inline-block;
        padding: 0px 10px;
    }

    .nav_links li a {
        transition: all 0.3s ease 0s;
    }

    .nav_links li a:hover {
        color: #538c64
    }

    li,
    a {
        font-family: 'poppins', sans-serif;
        font-weight: 500;
        font-size: 16px;
        color: rgb(56, 52, 52);
        text-decoration: none;
    }

    /*COUNTRIES*/
    ul {
        padding-inline-start: 0;
    }

    .bottomnav {
        width: 100vw;
    }

    /*     .flex {
        width: 100vw;
    } */

    .bottomnav {
        width: 100vw;
    }

    .flex li a {
        font-size: 10px;
        color: white;
        display: inline;
        font-weight: 400;
    }

    .flex li {
        display: inline-block;
    }

    .flex li a:hover {
        color: gray;
    }

    /*HERO*/
    .hero {
        height: 600px;
        width: 100vw;
        margin-top: -40px;
    }

    .container {
        text-align: center;
        padding-top: 60px;
    }

    .container h2 {
        font-family: montserrat;
        font-weight: 200;
        color: white;
    }

    .container h1 {
        font-family: montserrat;
        color: white;
        font-weight: 500;
        padding-top: 40px;
    }


    /*TEXT*/

    .box {
        font-size: 40px;
        font-family: poppins;
        font-weight: 500;
        color: rgb(150, 153, 150);
        /* BOX MODEL */
        margin-top: 100px;
        text-align: center;
    }


    .stalk {
        font-family: poppins;
        font-size: 20px;
        /* BOX MODEL */
        margin-left: 200px;
        margin-right: 200px;
        margin-top: 10px;
    }
}

@media screen and(min-width:681px) {
    .hamburger {
        display: none;
    }
}


.logo {
    height: 70px;
    cursor: pointer;
    margin-right: auto;
}

.nav_links {
    list-style: none;
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0,
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #538c64
}

li,
a {
    font-family: 'poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: rgb(56, 52, 52);
    text-decoration: none;
}

/*COUNTRIES*/
.flex {
    list-style-type: none;
    background-color: #26292d;
    padding-top: 80px;
    /*  width: 100vw; */
    height: 130px;
    text-align: center;
    justify-content: space-evenly;
    display: flex;
    overflow: hidden;
    /*BOXMODEL*/
    margin-top: 60px;

}

.bottomnav {
    width: 100vw;
}

.flex li a {
    color: white;
    display: inline;
    font-weight: 300;
    font-size: 20px;
    padding-left: 1px;
    padding-right: 1px;
    transition: color 0.3s;
}

.flex li {
    display: inline-block;
}

.flex li a:hover {
    color: gray;
}

/*HERO*/
.hero {
    background-color: #1a2023;

    height: 600px;
    background-size: cover;
    width: 100vw;
    margin-top: -40px;
}

.container {
    text-align: center;
    padding-top: 60px;
}

.container h2 {
    font-family: montserrat;
    font-weight: 200;
    color: white;
}

.container h1 {
    font-family: Montserrat;
    color: white;
    font-weight: 500;
    padding-top: 40px;
}


/*TEXT*/
.first {
    background-color: #f4f5eb;
}

.box {
    font-size: 40px;
    background-color: #f4f5eb;
    font-family: "montserrat";
    font-weight: 600;
    font-style: normal;
    color: #888b88;
    /* BOX MODEL */
    padding-top: 150px;
    padding-bottom: -8px;
    text-align: center;


}

em {
    color: gray;
}


.stalk {
    font-family: "montserrat";
    font-size: 20px;
    /* BOX MODEL */
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 2%;
    margin-top: 50px;
    margin-bottom: 100px;
    line-height: 30px;
}


.image1 {
    width: 100vw;
    padding-top: 200px;
    margin-bottom: -40px;
}

.appearance {
    background-color: #a29c62;

    h2 {
        font-size: 40px;
        font-family: "montserrat";
        font-weight: 600;
        font-style: normal;
        color: #f4f5eb;
        text-align: center;
        padding-top: 200px;
    }

    .body {
        width: 85vw;
        padding-top: 150px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    p {
        font-family: "montserrat";
        font-size: 20px;
        color: #f4f5eb;
        margin-right: 15%;
        margin-left: 15%;
        line-height: 30px;
        padding-top: 150px;
        padding-bottom: 150px;
    }

    .profile {
        width: 35vw;
        display: block;
        margin-right: auto;
        margin-left: auto;
        padding-top: 80px;
    }
}

.range {
    h2 {
        font-size: 40px;
        font-family: "montserrat";
        font-weight: 600;
        font-style: normal;
        color: #888b88;
        text-align: center;
        padding-top: 200px;
    }

    p {
        font-family: "montserrat";
        font-size: 20px;

        margin-right: 15%;
        margin-left: 15%;
        line-height: 30px;
        padding-top: 150px;
        padding-bottom: 150px;
    }
}

.diet {
    background-color: #444d50;
    overflow: hidden;

    p {
        font-family: "montserrat";
        font-size: 20px;
        margin-right: 15%;
        color: #f4f5eb;
        margin-left: 15%;
        line-height: 30px;
        padding-top: 130px;
        padding-bottom: 150px;
    }

    img {
        width: 100vw;
    }
}

.behavior {
    h2 {
        font-size: 40px;
        font-family: "montserrat";
        font-weight: 600;
        font-style: normal;
        color: #888b88;
        text-align: center;
        padding-top: 200px;
    }

    p {
        font-family: "montserrat";
        font-size: 20px;
        margin-right: 15%;
        margin-left: 15%;
        line-height: 30px;
        padding-top: 150px;
        padding-bottom: 150px;
    }

    .image {
        background-color: #da7b55;
    }

    img {

        width: 70vw;
        display: block;
        margin-right: auto;
        margin-left: auto;
        padding-bottom: 150px;
        padding-top: 150px;
    }
}

@media screen and (max-width:1250px) {


    .stalk {
        margin-left: 5%;
        font-size: 20px;
        float: none;
        display: block;
        padding-left: 15%;
        padding-right: 15%;
    }



}





@media screen and (max-width:800px) {

    .stalk {
        margin-left: 5%;
        font-size: 18px;
        float: none;
        display: block;
        padding-left: 15%;
        padding-right: 8%;
    }

}





/* 
    @media screen and (max-width:600px) {
        .hamburger {
            display: block;
        }

        .nav_links {
            display: none;
            flex-direction: column;
            position: absolute;
            top: 80px;
            left: 0;
            width: 100%;
        }

        header {
            font-size: 10px;
            align-items: flex-startt;
        }

        .hamburger-checkbox:checked+.hamburger+.nav_links {
            display: flex;
        }
    } */

/*    @media screen and (max-width:400px) {
        .flex li {
            padding-right: 5px;
        }

        .flex li a {
            font-size: 14px;
        }
    } */

/*   @media screen and (max-width:526px) {

        .nav_bar li a,
        .flex li a {
            display: flex;
            font-size: 10px;
            flex-direction: row;
            margin-right: 20px;
        }
    }
 */